@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.4;
  color: #222;
  -webkit-text-size-adjust: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* decided against system font stack so is simpler when designing */
  font-weight: normal;
  background-color: #fefefe;
  /* use background-color, not just background, so incase use a bg img */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  display: block; }

h1 {
  /* [normalize] Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  /* [normalize] Add the correct box sizing in Firefox. */
  height: 0;
  /* [normalize] Add the correct box sizing in Firefox. */
  overflow: visible;
  /* [normalize] Show the overflow in Edge and IE. */
  clear: both;
  /* [foundation] to ensure nothing is beside it when using clears on surrounding content */
  margin: 1em 0;
  /* [h5bp] preferred 16/0 over [foundation] 20/0. [bootstrap] uses margin-top and margin-bottom */
  border: 0;
  /* [h5bp & bootstrap] set the single-property border to zero, but then override it with a 1px bottom border w below line. [foundation] sets border to 0 via long hand (b-t/b-r/b-b/b-l) */
  border-bottom: 1px solid #cacaca;
  /* [foundation] personally prefer the darker #cacaca of foundation to the (marginally) lighter #ccc of [h5bp] */
  /* [boostrap] optionally can use this method which sets the color based on its background */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */ }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0; }

pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1em;
  overflow: auto;
  font-family: Consolas, 'Liberation Mono', Courier, monospace; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border-style: none;
  /* [normalize] Remove the border on images inside links in IE 10-. */ }

a {
  background-color: transparent;
  /* [normalize] Remove the gray background on active links in IE 10. */
  line-height: inherit;
  /* [foundation] */
  text-decoration: none;
  /* [foundation] [bootstrap] */
  cursor: pointer;
  /* [foundation] */
  /**/
  color: #1779ba;
  /* [foundation] */ }
  a:hover, a:focus {
    text-decoration: underline;
    /* [bootstrap] */
    /**/
    color: #1468a0;
    /* [foundation] */ }
  a img {
    border: 0;
    /* [foundation] */ }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility; }

b,
strong {
  font-weight: bolder;
  /* [normalize] */
  line-height: inherit;
  /* [foundation] */ }

small {
  font-size: 80%;
  /* [normalize] */
  line-height: inherit;
  /* [foundation] */ }

address {
  font-style: normal;
  /* [undohtml , bootstrap] */
  margin-bottom: 1rem;
  /* [bootstrap] */
  line-height: inherit;
  /* [bootstrap] */ }

/* text highlight styles */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

sub,
sup {
  /* normalize */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  /* normalize */
  bottom: -0.25rem; }

sup {
  /* normalize */
  top: -0.5rem; }

[hidden] {
  /* [normalize] */
  display: none !important; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/**
 * Render the `main` element consistently in IE.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: .35em .75em .625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/*
 * A better looking default horizontal rule
 */
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
	 Browser Upgrade Prompt
	 ========================================================================== */
/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
/* ==========================================================================
	 Helper classes
	 ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
/*
* Hide visually and from screen readers, but maintain layout
*/
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */
/* ==========================================================================
	 Print styles.
	 Inlined to avoid the additional HTTP request:
	 https://www.phpied.com/delay-loading-your-print-css/
	 ========================================================================== */
/* [bootstrap] */
/* // Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base */
[tabindex="-1"]:focus {
  outline: 0 !important; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

small {
  font-size: 80%;
  /* // Add the correct font size in all browsers */ }

code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* [bootstrap] system mono-space font stack */
  font-size: 1em;
  /* [bootstrap] // Correct the odd `em` font sizing in all browsers. */ }

figure {
  margin: 0 0 1rem;
  /* [boostrap] */ }

svg {
  overflow: hidden;
  /* [boostrap] */
  vertical-align: middle;
  /* [boostrap] */ }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  /* [boostrap] */
  padding-bottom: 0.75rem;
  /* [boostrap] */
  color: #6c757d;
  /* [boostrap] */
  text-align: left;
  /* [boostrap] */
  caption-side: bottom;
  /* [boostrap] */ }

label {
  display: inline-block;
  /* [boostrap] */
  margin-bottom: 0.5rem;
  /* [boostrap] */ }

button {
  border-radius: 0;
  /* [boostrap] Remove the default `border-radius` that macOS Chrome adds. https://github.com/twbs/bootstrap/issues/24093 */ }

button:focus {
  /* [bootstrap] Work around a Firefox/IE bug where the transparent `button` background results in a loss of the default `button` focus styles Credit: https://github.com/suitcss/base/ */
  outline: 1px dotted;
  /* [boostrap] */
  outline: 5px auto -webkit-focus-ring-color;
  /* [boostrap] */ }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  /* [boostrap] Remove the margin in Firefox and Safari */
  font-family: inherit;
  /* [boostrap] */
  font-size: inherit;
  /* [boostrap] */
  line-height: inherit;
  /* [boostrap] */ }

button,
input {
  overflow: visible;
  /* [boostrap] Show the overflow in Edge */ }

button,
select {
  text-transform: none;
  /* [boostrap] Remove the inheritance of text transform in Firefox */ }

select {
  word-wrap: normal;
  /* [boostrap] Remove the inheritance of word-wrap in Safari. https://github.com/twbs/bootstrap/issues/24990 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  /* [bootstrap] Opinionated: add "hand" cursor to non-disabled button elements. */
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  /* [bootstrap] Remove the default vertical scrollbar in IE. */
  resize: vertical;
  /* [bootstrap] Textareas should really only resize vertically so they don't break their (horizontal) containers. */ }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  /* [bootstrap] Add the correct vertical alignment in Chrome, Firefox, and Opera. */
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  /* [bootstrap] Correct the cursor style of increment and decrement buttons in Chrome. */
  height: auto; }

[type="search"]::-webkit-search-decoration {
  /* [bootstrap] Remove the inner padding in Chrome and Safari on macOS. */
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  /* [bootstrap]
	1. Correct the inability to style clickable types in iOS and Safari.
	2. Change font properties to `inherit` in Safari. */
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block;
  /* [bootstrap] */ }

summary {
  display: list-item;
  /* [bootstrap] Add the correct display in all browsers */
  cursor: pointer;
  /* [bootstrap] */ }

template {
  display: none;
  /* [bootstrap] Add the correct display in IE */ }

[hidden] {
  /* [bootstrap]
	Always hide an element with the `hidden` HTML attribute (from PureCSS).
	Needed for proper display in IE 10-. */
  display: none !important; }

textarea {
  height: auto;
  min-height: 50px;
  border-radius: .1875rem; }

select {
  box-sizing: border-box;
  width: 100%;
  border-radius: .1875rem; }

button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: .1875rem;
  background: transparent;
  line-height: 1;
  cursor: auto; }

div,
dl,
dt,
dd,
ul,
ol,
li,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

em,
i {
  font-style: italic;
  line-height: inherit; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  line-height: 0;
  color: #8a8a8a; }

h1 {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h2 {
  font-size: 1.625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h3 {
  font-size: 1.375rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h5 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

h6 {
  font-size: .875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem; }

ul,
ol,
dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6; }

li {
  font-size: inherit; }

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

ol {
  margin-left: 1.25rem; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }

dl dt {
  margin-bottom: .3rem;
  font-weight: bold; }

blockquote {
  margin: 0 0 1rem;
  padding: .5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #cacaca; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: #8a8a8a; }

cite {
  display: block;
  font-size: .8125rem;
  color: #8a8a8a; }

cite:before {
  content: '— '; }

abbr,
abbr[title] {
  border-bottom: 1px dotted #0a0a0a;
  cursor: help;
  text-decoration: none; }

figure {
  margin: 0; }

code {
  padding: .125rem .3125rem .0625rem;
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-weight: normal;
  color: #0a0a0a; }

kbd {
  margin: 0;
  padding: .125rem .25rem 0;
  background-color: #e6e6e6;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #0a0a0a;
  border-radius: .1875rem; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
ol,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0;
  margin: 0;
  padding: 0; }

/* undohtml.css */
/* (CC) 2004 Tantek Celik. Some Rights Reserved.             */
/*   http://creativecommons.org/licenses/by/2.0                   */
/* This style sheet is licensed under a Creative Commons License. */
/* Purpose: undo some of the default styling of common (X)HTML browsers */
/* link underlines tend to make hypertext less readable,
   because underlines obscure the shapes of the lower halves of words */
/* no list-markers by default, since lists are used more often for semantics */
/* avoid browser default inconsistent heading font-sizes */
/* and pre/code too */
/* remove the inconsistent (among browsers) default ul,ol padding or margin  */
/* the default spacing on headings does not match nor align with
   normal interline spacing at all, so let's get rid of it. */
/* zero out the spacing around pre, form, body, html, p, blockquote as well */
/* form elements are oddly inconsistent, and not quite CSS emulatable. */
/*  nonetheless strip their margin and padding as well */
/* whoever thought blue linked image borders were a good idea? */
/* de-italicize address */
/* more varnish stripping as necessary... */
/**
 * Start Vanilla CSS 1.0.2
 */
/**
* End Vanilla CSS
*/
/*
https://github.com/zellwk/css-reset
*/
/*******************
 Lists
 *******************/
ul {
  list-style: none; }

ul,
ol,
li {
  margin: 0;
  padding: 0; }

/*******************
 Forms and buttons
 *******************/
/* I usually expand input and textarea to full-width */
/* More friendly border */
/* Some defaults for one-liner buttons */
/***********************************
 Easy responsive for media elements
 ***********************************/
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%; }

/*******************
 Useful table styles
 *******************/
