html {
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  clear: both;
  margin: 1em 0;
  border: 0;
  border-bottom: 1px solid #cacaca;
  /* [boostrap] optionally can use this method which sets the color based on its background */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */ }
