html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.15;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: inherit; }

h1 {
  font-size: 2em; }

p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.5; }

a {
  color: #0000ee;
  background-color: transparent;
  line-height: inherit; }

b,
strong {
  font-weight: bolder;
  line-height: inherit; }

i,
em {
  font-style: italic;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

address {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0;
  line-height: inherit; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border-style: none; }

video {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto; }

svg {
  overflow: hidden;
  vertical-align: middle; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  clear: both;
  margin: 1em auto;
  border: 0;
  border-bottom: 1px solid #cacaca; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  clear: both;
  display: block;
  padding: 0;
  font-family: monospace, monospace;
  font-size: 1em;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  background: #f7f7f9;
  color: #000;
  border: 1px solid #dbe2f2;
  border-radius: 4px; }

code {
  font-family: monospace, monospace;
  font-size: 90%;
  padding: .1rem .3rem .2rem;
  word-break: break-all;
  white-space: pre;
  background: #f7f7f9;
  color: #000; }

pre code {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px;
  max-width: 100%;
  min-width: 100px;
  white-space: pre-wrap;
  background: none; }

body {
  background: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: .85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color .25s ease-out, color .25s ease-out;
  font-family: inherit;
  font-size: .9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }

.button:hover,
.button:focus {
  background-color: #14679e;
  color: #fefefe; }

code {
  padding: .125rem .3125rem .0625rem;
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-weight: normal;
  color: #0a0a0a; }

figure {
  margin: 0; }

.ff-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important; }

.font-weight-100,
.font-weight-ultralight {
  font-weight: 100 !important; }

.font-weight-200,
.font-weight-thin {
  font-weight: 200 !important; }

.font-weight-300,
.font-weight-light {
  font-weight: 300 !important; }

.font-weight-400,
.font-weight-regular,
.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-500,
.font-weight-medium {
  font-weight: 500 !important; }

.font-weight-600,
.font-weight-semibold {
  font-weight: 600 !important; }

.font-weight-700,
.font-weight-bold {
  font-weight: 700 !important; }

.font-weight-800,
.font-weight-heavy {
  font-weight: 800 !important; }

.font-weight-900,
.font-weight-black {
  font-weight: 900 !important; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #0a0a0a;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-rendering: optimizeLegibility; }
  h1 small,
  .h1 small,
  h2 small,
  .h2 small,
  h3 small,
  .h3 small,
  h4 small,
  .h4 small,
  h5 small,
  .h5 small,
  h6 small,
  .h6 small {
    line-height: 0;
    color: #8a8a8a; }

hr {
  box-sizing: content-box;
  /* [normalize] Add the correct box sizing in Firefox. */
  height: 0;
  /* [normalize] Add the correct box sizing in Firefox. */
  overflow: visible;
  /* [normalize] Show the overflow in Edge and IE. */
  clear: both;
  /* [foundation] to ensure nothing is beside it when using clears on surrounding content */
  margin: 1em auto;
  /* [h5bp] preferred 16/0 over [foundation] 20/0. [bootstrap] uses margin-top and margin-bottom */
  border: 0;
  /* [h5bp & bootstrap] set the single-property border to zero, but then override it with a 1px bottom border w below line. [foundation] sets border to 0 via long hand (b-t/b-r/b-b/b-l) */
  border-bottom: 1px solid #cacaca;
  /* [foundation] personally prefer the darker #cacaca of foundation to the (marginally) lighter #ccc of [h5bp] */
  /* [boostrap] optionally can use this method which sets the color based on its background */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */ }

a {
  color: #1779ba;
  text-decoration: none; }

a:hover,
a:focus {
  color: #1468a0; }

ul,
ol,
dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6; }

li {
  font-size: inherit; }

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

ol {
  margin-left: 1.25rem; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }

dl dt {
  margin-bottom: .3rem;
  font-weight: bold; }

ul.no-bullet,
ol.no-bullet {
  margin-left: 0;
  list-style: none; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.text-wrap {
  white-space: normal !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-black {
  color: #000 !important; }

.text-white {
  color: #fff !important; }

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important; }

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important; }

.text-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-wrap {
  word-wrap: break-word !important; }

.text-overline {
  text-decoration: overline !important; }

.text-underline {
  text-decoration: underline !important; }

.text-line-through {
  text-decoration: line-through !important; }

.text-decoration-none {
  text-decoration: none !important; }

.text-hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.text-hide {
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important; }

h1,
.h1 {
  font-size: 2rem; }

h2,
.h2 {
  font-size: 1.625rem; }

h3,
.h3 {
  font-size: 1.375rem; }

h4,
.h4 {
  font-size: 1.125rem; }

h5,
.h5 {
  font-size: 1rem; }

h6,
.h6 {
  font-size: 0.875rem; }

@media only screen and (min-width: 40em) {
  h1,
  .h1 {
    font-size: 3.125rem; }
  h2,
  .h2 {
    font-size: 2.375rem; }
  h3,
  .h3 {
    font-size: 1.75rem; }
  h4,
  .h4 {
    font-size: 1.3125rem; } }

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

.border-radius-0 {
  border-radius: 0; }

.border-radius-2 {
  border-radius: 0.125rem; }

.border-radius-4 {
  border-radius: 0.25rem; }

.border-radius-6 {
  border-radius: 0.375rem; }

.border-radius-8 {
  border-radius: 0.5rem; }

.border-radius-10 {
  border-radius: 0.625rem; }

.border-radius-12 {
  border-radius: 0.75rem; }

.border-radius-14 {
  border-radius: 0.875rem; }

.border-radius-16 {
  border-radius: 1rem; }

.border-rounded {
  border-radius: 5000px !important; }

.border-1-black {
  border: 0.0625rem solid #000; }

.border-2-black {
  border: 0.125rem solid #000; }

.border-3-black {
  border: 0.1875rem solid #000; }

.border-4-black {
  border: 0.25rem solid #000; }

.border-5-black {
  border: 0.3125rem solid #000; }

.border-6-black {
  border: 0.375rem solid #000; }

.border-7-black {
  border: 0.4375rem solid #000; }

.border-8-black {
  border: 0.5rem solid #000; }

.border-1-white {
  border: 0.0625rem solid #fff; }

.border-2-white {
  border: 0.125rem solid #fff; }

.border-3-white {
  border: 0.1875rem solid #fff; }

.border-4-white {
  border: 0.25rem solid #fff; }

.border-5-white {
  border: 0.3125rem solid #fff; }

.border-6-white {
  border: 0.375rem solid #fff; }

.border-7-white {
  border: 0.4375rem solid #fff; }

.border-8-white {
  border: 0.5rem solid #fff; }

.border-top-0 {
  border-top: 0; }

.border-right-0 {
  border-right: 0; }

.border-bottom-0 {
  border-bottom: 0; }

.border-left-0 {
  border-left: 0; }

.box-shadow-1 {
  box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }

.box-shadow-2 {
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3); }

.box-shadow-3 {
  box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3); }

.box-shadow-4 {
  box-shadow: 0 0.875rem 0.75rem 0 rgba(0, 0, 0, 0.17), 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.3); }

.box-shadow-5 {
  box-shadow: 0 1.0625rem 1.0625rem 0 rgba(0, 0, 0, 0.15), 0 1.6875rem 3.4375rem 0 rgba(0, 0, 0, 0.3); }

.cf::before, .cf::after {
  display: table;
  content: ' ';
  flex-basis: 0;
  order: 1; }

.cf::after {
  clear: both; }

.display-none {
  display: none; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

.display-block {
  display: block; }

.display-table {
  display: table; }

.display-table-row {
  display: table-row; }

.display-table-cell {
  display: table-cell; }

.display-flex {
  display: flex; }

.display-inline-flex {
  display: inline-flex; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-center {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.float-none {
  float: none; }

.height-100 {
  height: 100%; }

.height-75 {
  height: 75%; }

.height-50 {
  height: 50%; }

.height-25 {
  height: 25%; }

.height-auto {
  height: auto; }

.max-height-100 {
  max-height: 100%; }

.max-height-75 {
  max-height: 75%; }

.max-height-50 {
  max-height: 50%; }

.max-height-25 {
  max-height: 25%; }

.min-height-100 {
  min-height: 100%; }

.min-height-75 {
  min-height: 75%; }

.min-height-50 {
  min-height: 50%; }

.min-height-25 {
  min-height: 25%; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.m-0 {
  margin: 0; }

.m-4 {
  margin: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.m-16 {
  margin: 1rem; }

.m-20 {
  margin: 1.25rem; }

.m-24 {
  margin: 1.5rem; }

.m-32 {
  margin: 2rem; }

.m-40 {
  margin: 2.5rem; }

.mt-0 {
  margin-top: 0; }

.mt-4 {
  margin-top: 0.25rem; }

.mt-8 {
  margin-top: 0.5rem; }

.mt-12 {
  margin-top: 0.75rem; }

.mt-16 {
  margin-top: 1rem; }

.mt-20 {
  margin-top: 1.25rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mt-32 {
  margin-top: 2rem; }

.mt-40 {
  margin-top: 2.5rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-4 {
  margin-bottom: 0.25rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.mb-12 {
  margin-bottom: 0.75rem; }

.mb-16 {
  margin-bottom: 1rem; }

.mb-20 {
  margin-bottom: 1.25rem; }

.mb-24 {
  margin-bottom: 1.5rem; }

.mb-32 {
  margin-bottom: 2rem; }

.mb-40 {
  margin-bottom: 2.5rem; }

.mr-0 {
  margin-right: 0; }

.mr-4 {
  margin-right: 0.25rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mr-16 {
  margin-right: 1rem; }

.mr-20 {
  margin-right: 1.25rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mr-32 {
  margin-right: 2rem; }

.mr-40 {
  margin-right: 2.5rem; }

.ml-0 {
  margin-left: 0; }

.ml-4 {
  margin-left: 0.25rem; }

.ml-8 {
  margin-left: 0.5rem; }

.ml-12 {
  margin-left: 0.75rem; }

.ml-16 {
  margin-left: 1rem; }

.ml-20 {
  margin-left: 1.25rem; }

.ml-24 {
  margin-left: 1.5rem; }

.ml-32 {
  margin-left: 2rem; }

.ml-40 {
  margin-left: 2.5rem; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.mx-32 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.overflow-auto {
  overflow: auto; }

.overflow-hidden {
  overflow: hidden; }

.overflow-x-hidden {
  overflow-x: hidden; }

.overflow-y-hidden {
  overflow-y: hidden; }

.overflow-visible {
  overflow: visible; }

.overflow-x-visible {
  overflow-x: visible; }

.overflow-y-visible {
  overflow-y: visible; }

.overflow-scroll {
  overflow: scroll; }

.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-y-scroll {
  overflow-y: scroll; }

.p-0 {
  padding: 0; }

.p-4 {
  padding: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.p-16 {
  padding: 1rem; }

.p-20 {
  padding: 1.25rem; }

.p-24 {
  padding: 1.5rem; }

.p-32 {
  padding: 2rem; }

.p-40 {
  padding: 2.5rem; }

.pt-0 {
  padding-top: 0; }

.pt-4 {
  padding-top: 0.25rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pt-16 {
  padding-top: 1rem; }

.pt-20 {
  padding-top: 1.25rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pt-32 {
  padding-top: 2rem; }

.pt-40 {
  padding-top: 2.5rem; }

.pb-0 {
  padding-bottom: 0; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pb-16 {
  padding-bottom: 1rem; }

.pb-20 {
  padding-bottom: 1.25rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pb-40 {
  padding-bottom: 2.5rem; }

.pr-0 {
  padding-right: 0; }

.pr-4 {
  padding-right: 0.25rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pr-16 {
  padding-right: 1rem; }

.pr-20 {
  padding-right: 1.25rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pr-32 {
  padding-right: 2rem; }

.pr-40 {
  padding-right: 2.5rem; }

.pl-0 {
  padding-left: 0; }

.pl-4 {
  padding-left: 0.25rem; }

.pl-8 {
  padding-left: 0.5rem; }

.pl-12 {
  padding-left: 0.75rem; }

.pl-16 {
  padding-left: 1rem; }

.pl-20 {
  padding-left: 1.25rem; }

.pl-24 {
  padding-left: 1.5rem; }

.pl-32 {
  padding-left: 2rem; }

.pl-40 {
  padding-left: 2.5rem; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.px-32 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.position-static {
  position: static; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.position-fixed {
  position: fixed; }

.position-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.position-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.position-sticky {
  position: -webkit-sticky;
  position: sticky; }

@supports (position: -webkit-sticky) or (position: sticky) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; } }

.separator-center {
  text-align: center !important; }
  .separator-center::before, .separator-center::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1; }
  .separator-center::after {
    clear: both; }
  .separator-center::after {
    position: relative !important;
    width: 3rem;
    border-bottom: 0.125rem solid #000;
    margin: 1rem auto 0; }

.separator-left {
  text-align: left !important; }
  .separator-left::before, .separator-left::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1; }
  .separator-left::after {
    clear: both; }
  .separator-left::after {
    position: relative !important;
    width: 3rem;
    border-bottom: 0.125rem solid #000;
    margin: 1rem auto 0;
    margin-left: 0 !important; }

.separator-right {
  text-align: right !important; }
  .separator-right::before, .separator-right::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1; }
  .separator-right::after {
    clear: both; }
  .separator-right::after {
    position: relative !important;
    width: 3rem;
    border-bottom: 0.125rem solid #000;
    margin: 1rem auto 0;
    margin-right: 0 !important; }

.width-100 {
  width: 100%; }

.width-75 {
  width: 75%; }

.width-50 {
  width: 50%; }

.width-25 {
  width: 25%; }

.width-auto {
  width: auto; }

.max-width-100 {
  max-width: 100%; }

.max-width-75 {
  max-width: 75%; }

.max-width-50 {
  max-width: 50%; }

.max-width-25 {
  max-width: 25%; }

.min-width-100 {
  min-width: 100%; }

.min-width-75 {
  min-width: 75%; }

.min-width-50 {
  min-width: 50%; }

.min-width-25 {
  min-width: 25%; }

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/* ==========================================================================
	Print styles.
	Inlined to avoid the additional HTTP request:
	https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
	 * Printing Tables:
	 * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
