// ---------------------------------------
// |            Media Queries            |
// ---------------------------------------
$small-only: 'only screen and (max-width : 39.9375em)';
$medium: 'only screen and (min-width : 40em)';
$medium-only: 'only screen and (min-width: 40em) and (max-width: 63.9375em)';
$large: 'only screen and (min-width : 64em)';
$large-only: 'only screen and (min-width: 64em) and (max-width: 74.9375em)';



// ----------------------------------------------
// |            box-shadow Variables            |
// ----------------------------------------------
$z-1: 0 1px 4px 0 rgba(0,0,0,.37);
$z-2: 0 2px 2px 0 rgba(0,0,0,.20), 0 6px 10px 0 rgba(0,0,0,.30);
$z-3: 0 11px 7px 0 rgba(0,0,0,.19), 0 13px 25px 0 rgba(0,0,0,.30);
$z-4: 0 14px 12px 0 rgba(0,0,0,.17), 0 20px 40px 0 rgba(0,0,0,.30);
$z-5: 0 17px 17px 0 rgba(0,0,0,.15), 0 27px 55px 0 rgba(0,0,0,.30);



// --------------------------------------------
// |            font-family Stacks            |
// --------------------------------------------
$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: $body-font-family;
