code {
	padding: .125rem .3125rem .0625rem;
	border: 1px solid #cacaca;
	background-color: #e6e6e6;
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	font-weight: normal;
	color: #0a0a0a;
}
