h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $header-font-family;
	font-style: normal;
	font-weight: normal;
	color: $h-color; // #0a0a0a
	text-rendering: optimizeLegibility;
	line-height: 1.2;
	margin-bottom: .5rem;

	small {
		line-height: 0;
		color: #8a8a8a;
	}
}
