a {
	background-color: transparent; /* [normalize] Remove the gray background on active links in IE 10. */
	line-height: inherit;
	color: #1779ba;
	text-decoration: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: #1468a0;
}
