// @import 'type-scale/_type-scale.scss';

@import '_abbr.scss';
@import '_blockquote-cite.scss';
@import '_buttons.scss';
@import '_code.scss';
@import '_figure.scss';
@import '_font-face.scss';
@import '_font-family.scss';
@import '_font-weight.scss';
@import '_headings.scss';
@import '_hr.scss';
@import '_kbd.scss';
@import '_links.scss';
@import '_lists.scss';
@import '_text-alignment.scss';
@import '_text-color.scss';
@import '_text-styles.scss';
@import '_text-transform.scss';
@import '_text-visibility.scss';

h1,
.h1 {
	font-size: $h1;
}

h2,
.h2 {
	font-size: $h2;
}

h3,
.h3 {
	font-size: $h3;
}

h4,
.h4 {
	font-size: $h4;
}

h5,
.h5 {
	font-size: $h5;
}

h6,
.h6 {
	font-size: $h6;
}

@media #{$medium} {
	// >640px
	h1,
	.h1 {
		font-size: $h1-medium;
	}

	h2,
	.h2 {
		font-size: $h2-medium;
	}

	h3,
	.h3 {
		font-size: $h3-medium;
	}

	h4,
	.h4 {
		font-size: $h4-medium;
	}
}

p {
	margin-bottom: 1rem;
	font-size: inherit;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}
