/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */

video {
	height: auto;
	max-width: 100%;
}


iframe {
	border: 0;
	margin: 0;
	padding: 0;
}

dl,
dt,
dd {
	margin: 0;
	padding: 0;
}

// /*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */

// // img {
// // 	height: auto;
// // 	max-width: 100%;
// // }


// // html,
// // blockquote,
// // figure,
// // fieldset,
// // legend,
// // textarea,
// // pre,
// // hr,
// // iframe,
// // p,
// // ol,
// // ul,
// // li {
// // 	margin: 0;
// // 	padding: 0;
// // }

// // h1,
// // h2,
// // h3,
// // h4,
// // h5,
// // h6 {
// // 	// margin: 0;
// // 	padding: 0;
// // }


// // h1,
// // h2,
// // h3,
// // h4,
// // h5,
// // h6 {
// // 	// font-size: 100%; // don't want headings the same
// // 	font-weight: normal;
// // }

// // ul {
// // 	list-style: none;
// // }

// // Addressed in normalize
// // button,
// // input,
// // select,
// // textarea {
// // margin: 0;
// // }

// // addressed in master import
// // html {
// // 	box-sizing: border-box;
// // }

// // * {
// // 	&,
// // 	&:before,
// // 	&:after {
// // 		box-sizing: inherit;
// // 	}
// // }

// // table {
// 	// border-collapse: collapse;
// 	// border-spacing: 0;
// // }

// // td,
// // th {
// 	// padding: 0;
// 	// text-align: left;
// // }
