/*
https://github.com/zellwk/css-reset
*/


/*******************
 Lists
 *******************/
// ul {
// 	list-style: none;
// }

// ul,
// ol,
// li {
// 	margin: 0;
// 	padding: 0;
// }

/*******************
 Forms and buttons
 *******************/
// input,
// textarea,
// select,
// button {
// 	color: inherit;
// 	font: inherit;
// 	letter-spacing: inherit;
// }

/* I usually expand input and textarea to full-width */
// input[type="text"],
// textarea {
// 	width: 100%;
// }

/* More friendly border */
// input,
// textarea,
// button {
// 	border: 1px solid gray;
// }

/* Some defaults for one-liner buttons */
// button {
// 	padding: 0.75em 1em;
// 	border-radius: 0;
// 	line-height: 1;
// 	background-color: transparent;
// }

// button * {
// 	pointer-events: none;
// }

/***********************************
 Easy responsive for media elements
 ***********************************/
 // svg,
// img,
iframe,
video,
object,
embed {
	display: block;
	max-width: 100%;
}

/*******************
 Useful table styles
 *******************/
// table {
// 	table-layout: fixed;
// 	width: 100%;
// }
