@import 'functions/_px-to-rem.scss';

html {
	box-sizing: border-box;
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.4;
	color: #222;
	-webkit-text-size-adjust: 100%; // [normalize] Prevent adjustments of font size after orientation changes in iOS.
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0; // [normalize] Remove the margin in all browsers.
	padding: 0;
	line-height: inherit;
	color: inherit;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* decided against system font stack so is simpler when designing */
	font-weight: normal;
	background-color: #fefefe; /* use background-color, not just background, so incase use a bg img */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: block; // [normalize] Render the `main` element consistently in IE.
}

h1 {
	/* [normalize] Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
	font-size: 2em;
	margin: .67em 0;
}

hr {
	box-sizing: content-box; /* [normalize] Add the correct box sizing in Firefox. */
	height: 0; /* [normalize] Add the correct box sizing in Firefox. */
	overflow: visible; /* [normalize] Show the overflow in Edge and IE. */
	clear: both; /* [foundation] to ensure nothing is beside it when using clears on surrounding content */
	margin: 1em 0; /* [h5bp] preferred 16/0 over [foundation] 20/0. [bootstrap] uses margin-top and margin-bottom */
	border: 0; /* [h5bp & bootstrap] set the single-property border to zero, but then override it with a 1px bottom border w below line. [foundation] sets border to 0 via long hand (b-t/b-r/b-b/b-l) */
	border-bottom: 1px solid #cacaca; /* [foundation] personally prefer the darker #cacaca of foundation to the (marginally) lighter #ccc of [h5bp] */
	/* [boostrap] optionally can use this method which sets the color based on its background */
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	padding: 0;
}

pre {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1em;
	overflow: auto;
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
}


// ---------------------------------------------------------------------- //
@import '_1-normalize.scss';
@import '_2-h5bp-main-reset.scss';
@import '_3-bootstrap-reboot.scss';
@import '-4-foundation.scss';
@import '_meyer-reset.scss';
@import '_minireset.scss';
@import '_undohtmlreset.scss';
@import '_vanilla-css-reset.scss';
@import '_zellwk-css-reset.scss';
// ---------------------------------------------------------------------- //

