@import 'functions/_px-to-rem.scss';

html {
	box-sizing: border-box;
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.4;
	color: #222;
	-webkit-text-size-adjust: 100%; // [normalize] Prevent adjustments of font size after orientation changes in iOS.
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0; // [normalize] Remove the margin in all browsers.
	padding: 0;
	line-height: inherit;
	color: inherit;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* decided against system font stack so is simpler when designing */
	font-weight: normal;
	background-color: #fefefe; /* use background-color, not just background, so incase use a bg img */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: block; // [normalize] Render the `main` element consistently in IE.
}

h1 {
	/* [normalize] Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
	font-size: 2em;
	margin: .67em 0;
}

hr {
	box-sizing: content-box; /* [normalize] Add the correct box sizing in Firefox. */
	height: 0; /* [normalize] Add the correct box sizing in Firefox. */
	overflow: visible; /* [normalize] Show the overflow in Edge and IE. */
	clear: both; /* [foundation] to ensure nothing is beside it when using clears on surrounding content */
	margin: 1em 0; /* [h5bp] preferred 16/0 over [foundation] 20/0. [bootstrap] uses margin-top and margin-bottom */
	border: 0; /* [h5bp & bootstrap] set the single-property border to zero, but then override it with a 1px bottom border w below line. [foundation] sets border to 0 via long hand (b-t/b-r/b-b/b-l) */
	border-bottom: 1px solid #cacaca; /* [foundation] personally prefer the darker #cacaca of foundation to the (marginally) lighter #ccc of [h5bp] */
	/* [boostrap] optionally can use this method which sets the color based on its background */
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	padding: 0;
}

pre {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1em;
	overflow: auto;
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	border-style: none; /* [normalize] Remove the border on images inside links in IE 10-. */
}

a {
	background-color: transparent; /* [normalize] Remove the gray background on active links in IE 10. */
	line-height: inherit; /* [foundation] */
	text-decoration: none; /* [foundation] [bootstrap] */
	cursor: pointer; /* [foundation] */
	/**/
	// color: #007bff; /* [bootstrap] */
	color: #1779ba; /* [foundation] */

	&:hover,
	&:focus {
		text-decoration: underline; /* [bootstrap] */
		/**/
		// color: darken(#007bff, 15%); /* [bootstrap] */
		color: #1468a0; /* [foundation] */
	}

	img {
		border: 0; /* [foundation] */
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: rem-calc(8);
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: inherit;
	text-rendering: optimizeLegibility;
}

b,
strong {
	font-weight: bolder; /* [normalize] */
	line-height: inherit; /* [foundation] */
}

small {
	font-size: 80%; /* [normalize] */
	line-height: inherit; /* [foundation] */
}

address {
	font-style: normal; /* [undohtml , bootstrap] */
	margin-bottom: rem-calc(16); /* [bootstrap] */
	line-height: inherit; /* [bootstrap] */
}

/* text highlight styles */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

sub,
sup {
	/* normalize */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	/* normalize */
	bottom: rem-calc(-4);
}

sup {
	/* normalize */
	top: rem-calc(-8);
}

[hidden] {
	/* [normalize] */
	display: none !important;
}

ul,
ol {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: rem-calc(16);
	margin-left: rem-calc(20);
	line-height: 1.6;
}

li {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

ul ul,
ol ol
ol ul,
ul ol {
	margin-bottom: 0;
	margin-left: rem-calc(20);
}

p {
	padding: 0;
	margin-top: 0;
	margin-bottom: rem-calc(16);
	font-size: inherit;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

iframe {
	display: block; /*[zellwk-reset]*/
	max-width: 100%; /*[zellwk-reset]*/
	border: 0; /*[minireset]*/
	margin: 0; /*[minireset]*/
	padding: 0; /*[minireset]*/
	vertical-align: middle; /*[h5bp] Remove the gap between iframes and the bottom of their containers*/
	/*https://github.com/h5bp/html5-boilerplate/issues/440*/
}

video {
	display: block; /*[zellwk]*/
	max-width: 100%; /*[zellwk] & [minireset.css]*/
	height: auto; /*[minireset.css]*/
	vertical-align: middle; /* [h5bp] Remove the gap between videos and the bottom of their containers*/
	/*https://github.com/h5bp/html5-boilerplate/issues/440*/
}

object {
	display: block; /*[zellwk]*/
	max-width: 100%; /*[zellwk]*/
}

embed {
	display: block; /*[zellwk]*/
	max-width: 100%; /*[zellwk]*/
}


// ---------------------------------------------------------------------- //
@import '_0-sorted-tags-to-dev.scss';
@import '_1-normalize.scss';
@import '_2-h5bp-main-reset.scss';
@import '_3-bootstrap-reboot.scss';
@import '_4-foundation.scss';
// ---------------------------------------------------------------------- //

// foundation
blockquote {
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0 0 1rem;
	padding: .5625rem 1.25rem 0 1.1875rem;
	border-left: 1px solid #cacaca;
}

blockquote,
blockquote p {
	line-height: 1.6;
	color: #8a8a8a;
}

// bootstrap
blockquote {
	margin: 0 0 rem-calc(16);
}
