h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: inherit;
	text-rendering: optimizeLegibility;

	small {
		line-height: 0;
		color: #cacaca;
	}
}

h1,
.h1 {
	font-size: 1.5rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: .5rem;
}

h2,
.h2 {
	font-size: 1.25rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: .5rem;
}

h3,
.h3 {
	font-size: 1.1875rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: .5rem;
}

h4,
.h4 {
	font-size: 1.125rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: .5rem;
}

h5,
.h5 {
	font-size: 1.0625rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: .5rem;
}

h6,
.h6 {
	font-size: 1rem;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: .5rem;
}

@media print, screen and (min-width: 40em) {
	h1,
	.h1 {
		font-size: 3rem;
	}

	h2,
	.h2 {
		font-size: 2.5rem;
	}

	h3,
	.h3 {
		font-size: 1.9375rem;
	}

	h4,
	.h4 {
		font-size: 1.5625rem;
	}

	h5,
	.h5 {
		font-size: 1.25rem;
	}

	h6,
	.h6 {
		font-size: 1rem;
	}
}
