.border-1-black {
	border: rem-calc(1) solid #000;
}

.border-2-black {
	border: rem-calc(2) solid #000;
}

.border-3-black {
	border: rem-calc(3) solid #000;
}

.border-4-black {
	border: rem-calc(4) solid #000;
}

.border-5-black {
	border: rem-calc(5) solid #000;
}

.border-6-black {
	border: rem-calc(6) solid #000;
}

.border-7-black {
	border: rem-calc(7) solid #000;
}

.border-8-black {
	border: rem-calc(8) solid #000;
}
