.border-radius-0 {
	border-radius: 0;
}

.border-radius-2 {
	border-radius: rem-calc(2);
}

.border-radius-4 {
	border-radius: rem-calc(4);
}

.border-radius-6 {
	border-radius: rem-calc(6);
}

.border-radius-8 {
	border-radius: rem-calc(8);
}

.border-radius-10 {
	border-radius: rem-calc(10);
}

.border-radius-12 {
	border-radius: rem-calc(12);
}

.border-radius-14 {
	border-radius: rem-calc(14);
}

.border-radius-16 {
	border-radius: rem-calc(16);
}

// ---------------------------------------------------
// |            Pill-Shaped border-radius            |
// ---------------------------------------------------

.border-rounded {
	border-radius: 5000px !important;
}
