.position-static {
	position: static !important;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.position-fixed {
	position: fixed !important;
}

.position-fixed-top {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	z-index: 975;
}

.position-fixed-bottom {
	position: fixed !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: 975;
}

.position-sticky {
	position: -webkit-sticky !important;
	position:         sticky !important;
}
