// --------------------------------------------------
// |            1.414 - Augmented Fourth            |
// --------------------------------------------------

$h1-medium: 64px;    // 64px
$h2-medium: 45px;    // 45px
$h3-medium: 32px;    // 32px
$h4-medium: 22px;    // 22px
