// ----------------------------------------------
// |            1.618 - Golden Ratio            |
// ----------------------------------------------

$h1-medium: 110px;    // 110px
$h2-medium: 68px;    // 68px
$h3-medium: 42px;    // 42px
$h4-medium: 26px;    // 26px
