// ----------------------------------------------
// |            1.618 - Golden Ratio            |
// ----------------------------------------------

$h1-medium: 6.875rem;    // 110px
$h2-medium: 4.25rem;     // 68px
$h3-medium: 2.625rem;    // 42px
$h4-medium: 1.625rem;    // 26px
