// ---------------------------------------------
// |            1.250 - Major Third            |
// ---------------------------------------------

$h1-medium: 3.052rem;    // 49px
$h2-medium: 2.441rem;    // 39px
$h3-medium: 1.953rem;    // 31px
$h4-medium: 1.563rem;    // 25px
