// ---------------------------------------------
// |            1.250 - Major Third            |
// ---------------------------------------------

h1 {
	font-size: 3.052em;		// 49px
}

h2 {
	font-size: 2.441em;		// 39px
}

h3 {
	font-size: 1.953em;		// 31px
}

h4 {
	font-size: 1.563em;		// 25px
}

h5 {
	font-size: 1.25em;		// 20px
}

h6 {
	font-size: 0.8em;		// 13px
}
