// ----------------------------------------------
// |            1.125 - Major Second            |
// ----------------------------------------------

$h1-medium: 26px;    // 21px
$h2-medium: 23px;    // 23px
$h3-medium: 20px;    // 20px
$h4-medium: 18px;    // 18px
