// ---------------------------------------------
// |            1.200 - Minor Third            |
// ---------------------------------------------

$h1-medium: 2.063rem;    // 33px
$h2-medium: 1.688rem;    // 27px
$h3-medium: 1.438rem;    // 23px
$h4-medium: 1.188rem;    // 19px
