// ---------------------------------------------
// |            1.200 - Minor Third            |
// ---------------------------------------------

$h1-medium: 33px;    // 33px
$h2-medium: 27px;    // 27px
$h3-medium: 23px;    // 23px
$h4-medium: 19px;    // 19px
