// ----------------------------------------------
// |            1.067 - Minor Second            |
// ----------------------------------------------

$h1-medium: 1.313rem;    // 21px
$h2-medium: 1.188rem;    // 19px
$h3-medium: 1.125rem;    // 18px
$h4-medium: 1.063rem;    // 17px
