// ---------------------------------------------
// |            1.333 - Perfect Fourth            |
// ---------------------------------------------

$h1-medium: 50px;    // 50px
$h2-medium: 38px;    // 38px
$h3-medium: 28px;    // 28px
$h4-medium: 21px;    // 21px
