// ------------------------------------------------
// |            1.333 - Perfect Fourth            |
// ------------------------------------------------

$h1-medium: 3.125rem;    // 50px
$h2-medium: 2.375rem;    // 38px
$h3-medium: 1.75rem;     // 28px
$h4-medium: 1.313rem;    // 21px
