// -----------------------------------------------
// |            1.500 - Perfect Fifth            |
// -----------------------------------------------

$h1-medium: 5.063rem;    // 81px
$h2-medium: 2.375rem;    // 38px
$h3-medium: 1.75rem;     // 28px
$h4-medium: 1.313rem;    // 21px
