// -----------------------------------------------
// |            1.500 - Perfect Fifth            |
// -----------------------------------------------

$h1-medium: 81px;    // 81px
$h2-medium: 38px;    // 38px
$h3-medium: 28px;    // 28px
$h4-medium: 21px;    // 21px
