// normalize
textarea {
	overflow: auto; /* [normalize] Remove the default vertical scrollbar in IE 10+.*/
}

// normalize
textarea {
	font-family: inherit; /* Change the font styles in all browsers. */
	font-size: 100%; /* Change the font styles in all browsers. */
	line-height: 1.15; /* Change the font styles in all browsers. */
	margin: 0; /* Remove the margin in Firefox and Safari. */
}

// h5bp
textarea {
	resize: vertical; /*Allow only vertical resizing of textareas.*/
}

// bootstrap
textarea {
	margin: 0; /* [boostrap] Remove the margin in Firefox and Safari */
	font-family: inherit; /* [boostrap] */
	font-size: inherit; /* [boostrap] */
	line-height: inherit; /* [boostrap] */
}
textarea {
	overflow: auto; /* [bootstrap] Remove the default vertical scrollbar in IE. */
	resize: vertical; /* [bootstrap] Textareas should really only resize vertically so they don't break their (horizontal) containers. */
}

// foundation
textarea {
	height: auto;
	min-height: 50px;
	border-radius: .1875rem;
}
