hr {
	box-sizing: content-box; /* [normalize] Add the correct box sizing in Firefox. */
	height: 0; /* [normalize] Add the correct box sizing in Firefox. */
	overflow: visible; /* [normalize] Show the overflow in Edge and IE. */
	clear: both; /* [foundation] to ensure nothing is beside it when using clears on surrounding content */
	margin: 1em auto; /* [h5bp] preferred 16/0 over [foundation] 20/0. [bootstrap] uses margin-top and margin-bottom */
	border: 0; /* [h5bp & bootstrap] set the single-property border to zero, but then override it with a 1px bottom border w below line. [foundation] sets border to 0 via long hand (b-t/b-r/b-b/b-l) */
	border-bottom: 1px solid #cacaca; /* [foundation] personally prefer the darker #cacaca of foundation to the (marginally) lighter #ccc of [h5bp] */
	/* [boostrap] optionally can use this method which sets the color based on its background */
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
