body {
	margin: 0; /* [normalize] */
	padding: 0;
	background: #fefefe;
	font-family: $body-font-family;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
