@import 'resets/_normalize.scss';
@import 'resets/_media-resets.scss';
@import 'resets/_text-elements-resets.scss';

@import 'resets/1-html/_html.scss';
@import 'resets/2-body/_body.scss';
@import 'resets/3-headings/_headings.scss';
