// -------------------------------------------------------
// |            font-size for max-width:640px            |
// -------------------------------------------------------

$h1-small: 2rem;        // 32px
$h2-small: 1.625rem;    // 26px
$h3-small: 1.375rem;    // 22px
$h4-small: 1.125rem;    // 18px
$h5-small: 1rem;        // 16px
$h6-small: 0.875rem;    // 14px
