// -------------------------------------------------------
// |            font-size for max-width:640px            |
// -------------------------------------------------------

$h1: rem-calc(32);
$h2: rem-calc(26);
$h3: rem-calc(22);
$h4: rem-calc(18);
$h5: rem-calc(16);
$h6: rem-calc(14);
